{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="bg-holder" style="background-image:url({% static 'img/illustrations/project-bg.png' %});background-position:right;background-size:auto;">
        </div>

        <div class="row justify-content-center circle-blend circle-blend-left-project circle-warning">
            <div class="col-lg-6 text-center mx-auto mb-6">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Интернет-маркетинг</h5>
              <p class="mb-0">Предлагаем Вашему вниманию наши услуги по маркетингу в сети</p>
            </div>
            <div class="col-xxl-9">
              <div class="card project-card-bg mx-auto px-0">
                <div class="card-body">
                  <div class="row align-items-center">

                    {% for i in services %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <a class="nav-link" href="{% url 'service_detail' pk=i.id %}">{{ i.name }}
                                <img class="my-5 img-fluid" src="/media/{{ i.photo }}" alt="{{ i.photo }}">
                            </a>
                        </div>
                    {% endfor %}

                    <!-- 
                    <div class="col-12 col-md-6 col-lg-4 text-center">

                        <a class="nav-link" href="{% url 'marketing_detail' pk='1' %}">7 направлений маркетинга
                            <img class="mb-3 mb-lg-3 img-fluid px-xl-0"  src="{% static 'img/gallery/mark-01.png' %}" width="320" alt="project">
                        </a>
                        <a class="nav-link" href="{% url 'marketing_detail' pk='1' %}">8 направлений маркетинга
                            <img class="mb-3 mb-lg-0 img-fluid px-xl-0" src="{% static 'img/gallery/mark-05.png' %}" width="320" alt="project">
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 text-center">
                        <a class="nav-link" href="{% url 'marketing_detail' pk='1' %}">Email-маркетинг
                            <img class="mb-3 mb-lg-3 img-fluid px-xl-0" src="{% static 'img/gallery/mark-03.jpg' %}" width="320" alt="project">
                        </a>
                        <a class="nav-link" href="{% url 'marketing_detail' pk='1' %}">Digital-маркетинг
                            <img class="mb-3 mb-lg-0 img-fluid px-xl-0" src="{% static 'img/gallery/mark-04.png' %}" width="320" alt="project">
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 text-center">
                        <a class="nav-link" href="{% url 'marketing_detail' pk='1' %}">Методология разработки тактики
                            <img class="mb-3 mb-lg-3 img-fluid px-xl-0" src="{% static 'img/gallery/mark-02.jpg' %}" width="320" alt="project">
                        </a>
                        <a class="nav-link" href="{% url 'marketing_detail' pk='1' %}">Входящий маркетинг
                            <img class="mb-3 mb-lg-0 img-fluid px-xl-0" src="{% static 'img/gallery/mark-06.jpg' %}" width="320" alt="project">
                        </a>
                    </div> -->

                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mx-auto mt-6">
              <button class="btn btn-lg btn-klean-outline order-0" type="submit">
                  <span class="text-gradient fw-bold">
                      Смотреть больше
                  </span>
              </button>
            </div>
        </div>
    </div>
</section>

{% endblock content %}