{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<section class="py-5 mb-8">>
    <div class="container">

        <div class="row">
            <div class="col-lg-7 col-xxl-5 mx-auto text-center mt-5">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-5">Заказы</h5>
            </div>
        </div>

        <div class="row flex-center circle-blend circle-blend-left-product circle-cyan">
            <div class="col-auto ms-lg-auto order-md-1 text-center">
                <div class="card product-card-bg">
                  <div class="card-body p-4"><img class="img-fluid border-img" src="{% static 'img/gallery/web-01.png' %}" width="350" alt="..."></div>
                </div>
            </div>

            <div class="col-lg-8 mb-5">
              <div class="card card-bg p-2">
                <div class="card-body">
                    <div class="row mb-3 input-group-icon">
                        <div class="form-control rounded-pill border-white input-box">
                            <div class="col-sm-12 py-2">
                                <strong>Исполнитель: СуперПуперСпец</strong>
                            </div>
                            <div class="col-sm-12 py-2">
                                <strong>Дата оплаты: 8 октября 2023 г.</strong>
                            </div>
                            <div class="col-sm-12 py-2">
                                Дата заявки: 6 октября 2023 г.
                            </div>
                            <div class="col-sm-12 py-2">
                                Клиент: Смирнов Александр
                            </div>
                            <div class="col-sm-12 py-2">
                                Категория: Web-разработка
                            </div>
                            <div class="col-sm-12 py-2">
                                Услуга: Информационный сайт
                            </div>
                            <div class="col-sm-12 py-2">
                                Стоимость услуги: 200 000 &#8381;
                            </div>

                            
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="row flex-center circle-blend circle-blend-left-product circle-cyan">
            <div class="col-auto ms-lg-auto order-md-1 text-center">
                <div class="card product-card-bg">
                  <div class="card-body p-4"><img class="img-fluid border-img" src="{% static 'img/gallery/web-01.png' %}" width="350" alt="..."></div>
                </div>
            </div>

            <div class="col-lg-8 mb-5">
              <div class="card card-bg p-2">
                <div class="card-body">
                    <div class="row mb-3 input-group-icon">
                        <div class="form-control rounded-pill border-white input-box">
                            <div class="col-sm-12 py-2">
                                <strong>Исполнитель: СуперПуперСпец</strong>
                            </div>
                            <div class="col-sm-12 py-2">
                                <strong>Дата оплаты: Не оплачено</strong>
                            </div>
                            <div class="col-sm-12 py-2">
                                Дата заявки: 6 октября 2023 г.
                            </div>
                            <div class="col-sm-12 py-2">
                                Клиент: Смирнов Александр
                            </div>
                            <div class="col-sm-12 py-2">
                                Категория: Web-разработка
                            </div>
                            <div class="col-sm-12 py-2">
                                Услуга: Информационный сайт
                            </div>
                            <div class="col-sm-12 py-2">
                                Стоимость услуги: 200 000 &#8381;
                            </div>

                            
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

    </div>
</section>

{% endblock content %}