{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<section class="mb-8">>
    <div class="container">

        <div class="row">
            <div class="col-lg-7 col-xxl-5 mx-auto text-center mt-5">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-5">Заказы</h5>
            </div>
        </div>

        <div class="card-body">
            <form action="">
                <div class="row">

                    <div class="col-12 col-sm-3 mb-3">
                        <label class="label" for="author">Исполнитель</label>
                        <select class="form-select" id="author">

                            <option value="">Все разработчики</option>
                            {% for author in authors %}
                            <option value="{{ author.id }}">{{ author.username }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="col-12 col-sm-3 mb-3">
                        <label class="label" for="custom_user_id">Клиент</label>
                        <select class="form-select" id="custom_user_id">

                            <option value="">Все клиенты</option>
                            {% for client in clients %}
                            <option value="{{ client.id }}">{{ client.username }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="col-12 col-sm-3 mb-3">
                        <label class="label" for="pay_status">Статус оплаты</label>
                        <select class="form-select" id="pay_status">

                            <option value="">Выберите статус</option>
                            <option value="payed">Оплачено</option>
                            <option value="unpayed">Неоплачено</option>

                        </select>
                    </div>

                    <div class="col-12 col-sm-3 mb-3">
                        <label class="label" for="status_completed">Статус завершения</label>
                        <select class="form-select" id="status_completed">

                            <option value="">Выберите статус</option>
                            <option value="COMPLETED">Завершен</option>
                            <option value="IN_PROCCESS">В разработке</option>
                            <option value="DID_NOT_START">Не приступалось</option>

                        </select>
                    </div>

                </div>

                <a class="btn btn-primary" onclick="getResult()">
                    Показать
                </a>

            </form>
        </div>

        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Исполнитель</th>
                    <th scope="col">Клиент</th>
                    <th scope="col">Услуга</th>
                    <th scope="col">Дата заказа</th>
                    <th scope="col">Статус оплаты</th>
                    <th scope="col">
                        <span data-bs-toggle="popover" data-bs-trigger="hover"
                            data-bs-content="Вы можете изменить статус заказа">
                            Статус завершения
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody id="result_table">

                {% for order in orders %}

                <tr>
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.service_id.custom_user_id }}</td>
                    <td>{{ order.custom_user_id }}</td>
                    <td>{{ order.service_id.name }}</td>
                    <td>{{ order.create_date|str_date }}</td>
                    <td>
                        {% if order.pay_date %}
                        <span
                            class="badge bg-success text-bg-outline-success d-flex align-items-center justify-content-center rounded-pill">
                            ОПЛАЧЕНО<br>{{ order.pay_date|str_date }}
                        </span>
                        {% else %}
                        <span
                            class="badge bg-warning d-flex align-items-center justify-content-center rounded-pill ms-auto my-auto">
                            ОЖИДАЕТ<br>ОПЛАТЫ
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        <select class="form-select change_status" data-id="{{ order.id }}">
                            {% for key, val in statuses.items %}

                            {% if key == order.status_completed %}
                            <option value="{{ key }}" selected>{{ val }}</option>
                            {% else %}
                            <option value="{{ key }}">{{ val }}</option>
                            {% endif %}

                            {% endfor %}
                        </select>
                    </td>
                </tr>

                {% endfor %}
                <!-- 
                <tr>
                    <th scope="row">1</th>
                    <td>
                        Admin
                    </td>
                    <td>
                        Client
                    </td>
                    <td>15.10.2023</td>
                    <td>
                        <span class="badge bg-warning d-flex align-items-center justify-content-center rounded-pill ms-auto my-auto">
                            Ожидает оплаты
                        </span>
                    </td>
                    <td>
                        <span class="badge bg-light text-dark">
                            Не приступалось
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>15.09.2023</td>
                    <td>
                        <span class="badge bg-success text-bg-outline-success d-flex align-items-center justify-content-center rounded-pill">
                            Оплачено
                        </span>
                    </td>
                    <td>
                        <span class="badge bg-primary">
                            В разработке
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Ффцв</td>
                    <td>Otto</td>
                    <td>15.04.2023</td>
                    <td>
                        <span class="badge bg-success text-bg-outline-success d-flex align-items-center justify-content-center rounded-pill">
                            Оплачено
                        </span>
                    </td>
                    <td>
                        <span class="badge bg-success text-bg-outline-success">
                            Завершен
                        </span>
                    </td>
                </tr> -->

            </tbody>
        </table>

        <!-- 
        <div class="row flex-center">
            <div class="col-lg-8 mb-5">
                <div class="p-2">
                    <div class="row mb-3">
                        <div class="form-control ">

                            <div class="col-sm-12 py-2">
                                <strong>Исполнитель: СуперПуперСпец</strong>
                            </div>
                            <div class="col-sm-12 py-2">
                                <strong>Дата оплаты: 8 октября 2023 г.</strong>
                            </div>
                            <div class="col-sm-12 py-2">
                                Дата заявки: 6 октября 2023 г.
                            </div>
                            <div class="col-sm-12 py-2">
                                Клиент: Смирнов Александр
                            </div>
                            <div class="col-sm-12 py-2">
                                Категория: Web-разработка
                            </div>
                            <div class="col-sm-12 py-2">
                                Услуга: Информационный сайт
                            </div>
                            <div class="col-sm-12 py-2">
                                Стоимость услуги: 200 000 &#8381;
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row flex-center circle-blend circle-blend-left-product circle-cyan">
            <div class="col-lg-8 mb-5">
                <div class="card-body">
                    <div class="row mb-3 input-group-icon">
                        <div class="form-control rounded-pill border-white input-box">
                            <div class="col-sm-12 py-2">
                                <strong>Исполнитель: СуперПуперСпец</strong>
                            </div>
                            <div class="col-sm-12 py-2">
                                <strong>Дата оплаты: Не оплачено</strong>
                            </div>
                            <div class="col-sm-12 py-2">
                                Дата заявки: 6 октября 2023 г.
                            </div>
                            <div class="col-sm-12 py-2">
                                Клиент: Смирнов Александр
                            </div>
                            <div class="col-sm-12 py-2">
                                Категория: Web-разработка
                            </div>
                            <div class="col-sm-12 py-2">
                                Услуга: Информационный сайт
                            </div>
                            <div class="col-sm-12 py-2">
                                Стоимость услуги: 200 000 &#8381;
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</section>

<script>
    var url = document.location.href;
    var a = document.cookie.split(';');
    var token = '';

    for (i = 0; i < a.length; i++) {
        var b = a[i].split('=');
        b[0] = b[0].replace(/\s+/g, '');
        if (b[0] == 'csrftoken') {
            token = b[1];
        }
    };

    const options_list =
        [
            ["COMPLETED", "Завершен"],
            ["IN_PROCCESS", "В разработке"],
            ["DID_NOT_START", "Не приступалось"]
        ];

    function getResult() {
        $.ajax({
            url: url,
            method: 'POST',
            data: {
                csrfmiddlewaretoken: token,
                type: 'filter_result',
                author: $('#author').val(),
                custom_user_id_id: $('#custom_user_id').val(),
                pay_status: $('#pay_status').val(),
                status_completed: $('#status_completed').val()
            }
        }).then(function (result) {
            $('#result_table').empty();
            var dict_result = result.res;
            var tables = '';

            for (let i = 0; dict_result.length > i; i++) {

                var pay_date
                if (dict_result[i].pay_date) {
                    pdate = new Date(dict_result[i].pay_date).toLocaleString("ru", { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: "numeric", second: "numeric" })
                    pay_date = `
                        <span class="badge bg-success text-bg-outline-success d-flex align-items-center justify-content-center rounded-pill">
                            ОПЛАЧЕНО<br>${pdate}
                        </span>
                    `;
                } else {
                    pay_date = `
                        <span class="badge bg-warning d-flex align-items-center justify-content-center rounded-pill ms-auto my-auto">
                            ОЖИДАЕТ<br>ОПЛАТЫ
                        </span>
                    `;
                }

                var option_params = '';

                for (let k = 0; options_list.length > k; k++) {
                    if (options_list[k][0] == dict_result[i].status_completed) {
                        option_params += `<option selected value="${options_list[k][0]}">${options_list[k][1]}</option>`;
                    } else {
                        option_params += `<option value="${options_list[k][0]}">${options_list[k][1]}</option>`;
                    }
                };

                var pay_status = `
                    <select class="form-select change_status" id="order_complate_status_${dict_result[i].id}">
                        ${option_params}
                    </select>`;
                var cdate = new Date(dict_result[i].create_date).toLocaleString("ru", { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: "numeric", second: "numeric" })
                var line = `
                <tr>
                    <th scope="row">${dict_result[i].id}</th>
                    <td>${dict_result[i].author}</td>
                    <td>${dict_result[i].custom_user_id}</td>
                    <td>${dict_result[i].service_id}</td>
                    <td>${cdate}</td>
                    <td>${pay_date}</td>
                    <td>${pay_status}</td>
                </tr>`;
                $('#result_table').append(line);
            }
        }).catch(function (err) {
            var x = 1;
        });
    };

    $('.change_status').on('change', function (event) {
        $.ajax({
            url: url,
            method: 'POST',
            data: {
                csrfmiddlewaretoken: token,
                type: 'status_service',
                order_id: event.currentTarget.getAttribute('data-id'),
                status: event.currentTarget.value
            }
        }).then(function (result) {
            var x = 1;
        }).catch(function (err) {
            var x = 0;
        })
    })

</script>

{% endblock content %}