{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<section class="mb-8">
    <div class="container cust-marg">
        <h5 class="fw-bold text-gradient fs-2 mt-4 lh-sm">Клиент:
            <span class="text-gradient fw-bold">
                {{ user_name }}
            </span>
        </h5>

        {% for purchase in filtered_objects %}
        <section class="basket_product">
            <article class="bottom_layer">
                <div>
                    <article>
                        <p>Дата оплаты:

                            {% if purchase.pay_date != NULL %}
                            {{ purchase.pay_date|date:'d E Y' }} г.
                            {% else %}
                            <b class="warn">Не оплачено</b>
                            {% endif %}

                        </p>
                        <p>Категория: {{ purchase.service_id.category_id.name }}</p>
                        <p>Услуга: {{ purchase.service_id.name }}</p>
                        <p>Стоимость услуги: {{ purchase.service_id.price }} &#8381;</p>
                    </article>



                    {% for stat in purchase.STATUS %}
                    {% if purchase.status_completed in stat %}


                    {% if purchase.pay_date != NULL %}
                    <button class="btn hover-top btn-glow btn-klean rounded-pill" disabled>
                        {{ stat.1 }}
                    </button>

                    {% else %}

                    <button class="btn hover-top btn-glow btn-klean rounded-pill" type="submit">
                        Оплатить
                    </button>

                    {% endif %}

                    {% endif %}
                    {% endfor %}



                </div>
            </article>

            <article class="bottom_layer cover_img">
                <div><img src="{{MEDIA_URL}}{{ purchase.service_id.photo }}" alt=""></div>
            </article>

        </section>

        <hr class="basket_hr">

        {% endfor %}

    </div>
</section>

{% endblock content %}