{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<section class="py-5 mb-8">>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xxl-5 mx-auto text-center mt-5">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-5">Отзыв</h5>
            </div>
        </div>
        <div class="row flex-center circle-blend circle-blend-left-product circle-cyan">
            <div class="col-auto ms-lg-auto order-md-1 text-center">Вы хотите оставить отзыв для этой работы:<br>
                <div class="card product-card-bg">
                  <div class="card-body p-4"><img class="img-fluid border-img" src="{% static 'img/gallery/web-01.png' %}" width="350" alt="..."></div>
                </div>
            </div>

            <div class="col-lg-8 mb-5">
              <div class="card card-bg p-2">
                <div class="card-body">
                  <form>
                    <div class="row mb-3 input-group-icon">
                        <div class="col-sm-12 py-0">
                            <div class="form-control rounded-pill border-white input-box">
                                Дата отзыва: 06.10.2023 13:09
                            </div>
                        </div>
                        <div class="col-sm-12 py-3">
                            <div class="form-control rounded-pill border-white input-box">
                                Имя: Александр
                            </div>
                        </div>
                        <div class="col-sm-12 py-0">
                            <div class="form-control rounded-pill border-white input-box">
                                Категория: Web-разработка
                            </div>
                        </div>
                        <div class="col-sm-12 py-3">
                            <div class="form-control rounded-pill border-white input-box">
                                Услуга: Информационный сайт
                            </div>
                        </div>
                        <div class="col-sm-12 py-0">
                            <div class="form-control rounded-pill border-white input-box">
                                Рейтинг:
                                <div class="rating">

                                  <input type="radio" id="star-1" name="rating" value="1">
                                  <label for="star-1" title="Оценка «1»"></label>

                                  <input type="radio" id="star-2" name="rating" value="2">
                                  <label for="star-2" title="Оценка «2»"></label>

                                  <input type="radio" id="star-3" name="rating" value="3">
                                  <label for="star-3" title="Оценка «3»"></label>

                                  <input type="radio" id="star-4" name="rating" value="4">
                                  <label for="star-4" title="Оценка «4»"></label>

                                  <input type="radio" id="star-5" name="rating" value="5">
                                  <label for="star-5" title="Оценка «5»"></label>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 py-3">
                            <textarea class="form-control rounded-3 border-white input-box" id="floatingTextarea2" placeholder="Ваше сообщение" style="height: 150px"></textarea>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 py-0">
                            <div class="d-grid">
                              <button class="btn hover-top btn-glow btn-klean rounded-pill" type="submit">Разместить отзыв</button>
                            </div>
                          </div>
                        </div>

                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}